page-home-teacher {
    .card-md {
        margin-bottom: 2rem !important;
        border-radius: 1em !important;
    }
    .iconRight{
        float: right !important;
    }
    .pinSize{
        font-size: 1.2em !important;
    }
}
